doctype html
html
    head
        <meta name="viewport" content="width=device-width">
        style
            include app.css
    body
        
        
        <form id="form1" name="form1" method="get" action="/">
            <select name="folder" id="folder_select">
                for folder in folders
                    option(value=folder selected=(folderSearch==folder)) #{folder}
                folder_select.
            input(type="text" class="custom" size="32" name="name" id="INPUT1" value=nameSearch)
            <input type="submit" value="Recherche">
        </form>
        <form id="refreshForm" name="refresh" method="get" action="/refresh">
        <input type="submit" value="Actualiser" id="refreshButton">
        </form>
        
        div
            for doc in docs
                a(href='opendoc/?name=' + doc.name +'&path=' + doc.path) #{doc.name}<br>

        